._ {
    display: flex;
    margin: 24px 2px;
}
.top {
    display: flex;
    align-items: center;
}
.icon_user {
    width: 32px;
    height: 32px;
    background-color: #ccc;
    //background-color: #f1c40f;
    border-radius: 100%;
}
.info {
    display: flex;
    position: relative;
    bottom: 2px;
    p {
        margin: 0;
        margin-left: 6px;
        &.username {
            font-weight: 500;
        }
    }
}
.main {
    margin-bottom: 4px;
    p {
        margin: 0;
        margin-left: 6px;
    }
}

.file {
    width: 200px;
    height: 120px;
    border: 1px solid #eee;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        margin: 0;
        font-size: 24px;
        font-weight: 600;
        color: #666;
    }
}